In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 7.6 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=afca43a6b3b94fb58f42382f463818b86853cd25b97bbfbd66e40f7a549d7520
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import yfinance as yf
import pandas as pd
import numpy as np

In [ ]:
df = yf.download('PLTR')

[*********************100%***********************]  1 of 1 completed

In [ ]:
df['SMA200'] = df.Close.rolling(150).mean()

In [ ]:
df['SMA5'] = df.Close.rolling(5).mean()

In [ ]:
df['10d_low'] = df.Close.rolling(5).min()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['Buy'] = np.where((df.Close > df.SMA200) & 
                     (df['10d_low'].diff() < 0) &
                    (0.98 * df.Close >= df.Low.shift(-1)), 1, 0)

In [ ]:
df['Sell'] = np.where(df.Close > df.SMA5, 1, 0)

In [ ]:
df['Buyprice'] = 0.98 * df.Close

In [ ]:
df['Sellprice'] = df.Open.shift(-1)

In [ ]:
x = df[(df.Buy ==1) | (df.Sell ==1)]

In [ ]:
y = x[(x.Buy.diff() ==1) | (x.Sell.diff() ==1)]

In [ ]:
profits = ((y.Sellprice.shift(-1) - y.Buyprice)/y.Buyprice)

In [ ]:
profits = profits[::2]

In [ ]:
def backtest(arr):
  winrate = len(arr[arr > 0])/len(arr)
  max_dd = min(arr)
  mean = arr.mean()
  gain = (arr +1).cumprod()[-1]
  return winrate, max_dd, mean, gain

In [ ]:
backtest(profits)

(0.0, -0.039189453365830046, -0.039189453365830046, 0.96081054663417)

In [ ]:
df.ta(50)

                 Open       High        Low  ...  Sell   Buyprice  Sellprice
Date                                         ...
2021-05-05  21.809999  21.940001  20.969999  ...     0  20.727000  21.020000
2021-05-06  21.020000  21.020000  19.410000  ...     0  19.688200  20.299999
2021-05-07  20.299999  20.750000  19.580000  ...     0  19.355000  19.280001
2021-05-10  19.280001  19.299999  18.180000  ...     0  18.100599  17.200001
2021-05-11  17.200001  20.299999  17.055000  ...     1  19.805799  20.000000
2021-05-12  20.000000  20.000000  18.510000  ...     0  18.512199  19.139999
2021-05-13  19.139999  19.469999  17.820000  ...     0  18.002601  18.820000
2021-05-14  18.820000  20.200001  18.530001  ...     1  19.678400  19.730000
2021-05-17  19.730000  20.490000  19.629999  ...     1  20.050799  20.520000
2021-05-18  20.520000  21.620001  20.260000  ...     1  20.815200  20.100000
2021-05-19  20.100000  21.035000  19.940001  ...     1  20.256600  20.750000
2021-05-20  20.750000  20.809999  20.280001  ...     0  20.197801  20.840000
2021-05-21  20.840000  21.160000  20.469999  ...     1  20.335000  21.059999
2021-05-24  21.059999  21.520000  20.674999  ...     1  20.795599  21.420000
2021-05-25  21.420000  22.110001  21.280001  ...     1  21.050400  21.580000
2021-05-26  21.580000  22.240000  21.490000  ...     1  21.677601  22.010000
2021-05-27  22.010000  22.700001  21.650000  ...     1  22.246001  23.000000
2021-05-28  23.000000  24.750000  22.760000  ...     1  22.491001  23.190001
2021-06-01  23.190001  23.350000  22.360001  ...     1  22.598799  23.020000
2021-06-02  23.020000  24.840000  22.820000  ...     1  23.961001  24.139999
2021-06-03  24.139999  24.260000  23.340000  ...     1  23.157399  23.709999
2021-06-04  23.709999  24.490000  23.500000  ...     1  23.549401  24.000000
2021-06-07  24.000000  24.760000  23.790001  ...     1  23.970799  24.850000
2021-06-08  24.850000  25.230000  23.930000  ...     1  23.892399  24.450001
2021-06-09  24.450001  24.740000  24.170000  ...     1  23.686600  24.000000
2021-06-10  24.000000  24.389999  23.440001  ...     0  23.657199  24.120001
2021-06-11  24.120001  24.709999  24.030001  ...     1  24.176600  24.730000
2021-06-14  24.730000  25.150000  24.469999  ...     1  24.500000  25.030001
2021-06-15  25.030001  25.549999  24.389999  ...     0  23.921800  24.090000
2021-06-16  24.090000  24.940001  23.860001  ...     1  24.303999  24.680000
2021-06-17  24.680000  25.459999  24.549999  ...     1  24.941001  25.590000
2021-06-18  25.590000  25.940001  25.020000  ...     1  24.862601  25.100000
2021-06-21  25.100000  25.549999  24.510000  ...     1  24.911600  25.389999
2021-06-22  25.389999  25.520000  24.959999  ...     1  24.892000  25.459999
2021-06-23  25.459999  26.350000  25.340000  ...     1  25.744600  26.490000
2021-06-24  26.490000  26.709999  26.170000  ...     1  25.999401  26.580000
2021-06-25  26.580000  27.010000  26.245001  ...     1  26.244401  26.980000
2021-06-28  26.980000  27.500000  26.860001  ...     1  26.832399  27.379999
2021-06-29  27.379999  27.440001  26.440001  ...     0  26.097399  26.480000
2021-06-30  26.480000  26.920000  26.209999  ...     0  25.832801  26.100000
2021-07-01  26.100000  26.129999  24.590000  ...     0  24.225599  25.000000
2021-07-02  25.000000  25.340000  24.330000  ...     0  23.951201  24.600000
2021-07-06  24.600000  25.200001  24.469999  ...     0  24.186400  24.230000
2021-07-07  24.230000  24.260000  22.719999  ...     0  22.432199  22.430000
2021-07-08  22.430000  23.209999  22.250000  ...     0  22.618400  22.959999
2021-07-09  22.959999  23.389999  22.760000  ...     0  22.824201  23.260000
2021-07-12  23.260000  23.495001  22.879999  ...     0  22.491001  22.980000
2021-07-13  22.980000  22.990000  22.420000  ...     0  22.001001  22.490000
2021-07-14  22.490000  22.620001  21.510000  ...     0  21.128799  21.719999
2021-07-15  21.719999  22.055000  21.010000  ...     0  21.040599  21.600000

[50 rows x 13 columns]