In [2]:
import scipy.stats
import numpy as np

In [3]:
scipy.stats.norm.ppf(0.95)

1.6448536269514722

In [4]:
def VaR(Position,sigma,Quantile):
    return Position * sigma * scipy.stats.norm.ppf(Quantile)

In [5]:
VaR(1000,0.05,0.95)

82.24268134757361

In [6]:
w1 = 0.5
w2 = 0.5
sigma1 = 0.07
sigma2 = 0.03
corr = 0.4

In [7]:
pottfoliovar = w1**2*sigma1**2+w2**2*sigma2**2+2*(w1*w2*sigma1*sigma2*corr)

In [8]:
portfoliovol = pottfoliovar**(1/2)

In [9]:
portfoliovol

0.043243496620879306

In [10]:
VaR(1000,portfoliovol,0.95)

71.12922225891705

In [11]:
VaR1 = VaR(1000*w1,sigma1,0.95)
VaR2 = VaR(1000*w2,sigma2,0.95)

In [12]:
vector = np.array([VaR1, VaR2])

In [13]:
vector

array([57.56987694, 24.6728044 ])

In [14]:
corrmatrix = np.array([[1,corr],[corr,1]])

In [15]:
corrmatrix

array([[1. , 0.4],
       [0.4, 1. ]])

In [16]:
(np.dot(np.dot(vector,corrmatrix),vector))**(1/2)

71.12922225891707

In [17]:
import pandas_datareader.data as reader
import datetime as dt

In [18]:
end = dt.datetime.now()
start = dt.datetime(end.year - 1, end.month,end.day)

In [20]:
df = reader.get_data_yahoo(['AAPL', 'MSFT','TSLA'],start,end)['Adj Close']

In [21]:
returns = np.log(1+ df.pct_change())

In [22]:
returns

Symbols         AAPL      MSFT      TSLA
Date
2020-11-25       NaN       NaN       NaN
2020-11-27  0.004815  0.006339  0.020281
2020-11-30  0.020880 -0.005404 -0.031493
2020-12-01  0.030362  0.009947  0.029785
2020-12-02  0.002929 -0.003893 -0.027637
...              ...       ...       ...
2021-11-18  0.028136  0.006320  0.006745
2021-11-19  0.016834  0.005377  0.036432
2021-11-22  0.002923 -0.009606  0.017272
2021-11-23  0.002419 -0.006347 -0.042232
2021-11-24  0.003278  0.000681  0.006265

[252 rows x 3 columns]

In [23]:
returns.std()

Symbols
AAPL    0.015535
MSFT    0.012436
TSLA    0.034104
dtype: float64

In [24]:
Position = df.iloc[-1]

In [25]:
Position

Symbols
AAPL     161.940002
MSFT     337.910004
TSLA    1116.000000
Name: 2021-11-24 00:00:00, dtype: float64

In [26]:
VaRarray = []
for i in range(len(Position)):
    VaRarray.append(VaR(Position[i],returns.std()[i],0.95))

In [28]:
VaRarray

[4.137954897843889, 6.912021414236304, 62.60319829630334]

In [29]:
vector = np.array(VaRarray)

In [30]:
returns.corr()

Symbols      AAPL      MSFT      TSLA
Symbols
AAPL     1.000000  0.639177  0.368091
MSFT     0.639177  1.000000  0.312985
TSLA     0.368091  0.312985  1.000000

In [32]:
(np.dot(np.dot(vector,returns.corr()),vector))**(1/2)

66.94920018307475